**

# CLI
!approvals/
!bot/
!cmd/
!constants/
!extension/
!internal/
!pkg/
!provider/
!registry/
!secrets/
!trigger/
!types/
!util/
!version/
!go.mod
!go.sum
!LICENSE
!Makefile

# UI
!ui/public/
!ui/src/
!ui/babel.config.js
!ui/vue.config.js
!ui/package.json
!ui/yarn.lock
